img {
  display: block;
  width: 50%;
  height: 100%;
}

#light-theme {
  display: none;
}

.dark-background {
  background-color: rgb(59, 59, 59);
  color: aliceblue;
}

.light-background {
  background-color: rgb(154, 235, 235);
  color: black;
}